## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto
This assignment is part of the Capstone project for the Applied Data Science Course.

Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Next, lets get the page content using Beautifulsoap package

In [2]:
page_link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page_response = requests.get(page_link, timeout=5)
page_content = BeautifulSoup(page_response.content, "html.parser")

In [ ]:
print(page_content.prettify())

Select the table contents into a dataframe

In [4]:
soup = BeautifulSoup(page_response.content,'lxml')
#table = page_content.find('table', {'class': 'wikitable sortable'})
table = soup.find_all('table')[0] 
df = pd.read_html(str(table),header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Remove rows where Borough is Not assigned

In [5]:
df = df[df.Borough != 'Not assigned']
df.reset_index(inplace=True, drop=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [6]:
df['Postcode'].nunique()

103

Group all neighbourhoods by postcode

In [7]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [8]:
df.loc[df['Postcode'] == 'M5A']

   Postcode           Borough              Neighbourhood
53      M5A  Downtown Toronto  Harbourfront, Regent Park

Set Neighbourhood equal to Borough where Neighbourhood is Not assigend

In [9]:
df.loc[df['Borough'] == 'Queen\'s Park']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

In [10]:
df['Neighbourhood'][df.Neighbourhood == 'Not assigned'] = df.Borough

In [11]:
df.loc[df['Borough'] == 'Queen\'s Park']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [12]:
df.shape

(103, 3)